 <section class="s1">
        <div class="main-container">
            <div class="greetingwrapper">
                <h1>Hii <span><img src="img/hands2.png" alt="" srcset=""></span> ,  I'm </span>Yash Aryan Chauhan </h1>
            </div>
            <div class="introwrapper">
                <div class="navwrapper">
                    <div class="dotswrapper">
                        <div id="dot1" class="browserdot"></div>
                        <div id="dot2" class="browserdot"></div>
                        <div id="dot3" class="browserdot"></div>
                    </div>
                    <div class="navigation">
                        <ul>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>