{{>head}}

<body>
    {{>navbar}}
    <div class="leftcol">
        <img src="img/mypic5.jpg" alt="profile image" id="profilepic">
        <h5 style="text-align: center;line-height: 0; margin-top: 12px;">Personalize Theme</h5>
        <div id="themeoptionwrapper">
            <div data-mode="light" id="lightmode" class="themedot">
            </div>
            <div data-mode="blue" id="bluemode" class="themedot">
            </div>
            <div data-mode="green" id="greenmode" class="themedot">
            </div>
            <div data-mode="purple" id="purplemode" class="themedot">
            </div>
        </div>
        <p id="settingnote">*Theme setting will be saved for <br> your next visit*</p>
    </div>
    <div class="rightcol">
        <div id="previewshadow">
            <div id="preview">
                <h3>What I Do</h3>
                <p>I am an Engineer,Programmer and a passionate Web Developer who loves to create awesome websites</p>
            </div>
        </div>
    </div>
    </div>
    </div>
    </section>
    <section class="s2">
        <div class="main-container">
            <div class="aboutwrapper">
                <div class="aboutme">
                    <h4>More about me</h4>
                    <br>
                    <p>Web Developer with a passion for coding and embracing new challanges.</p>
                    <br>
                    <p>On a forever journey of professional growth as well as learning from and sharing with other
                        creatives</p>

                    <br>
                    <hr>
                    <br>
                    <br>
                    <br>
                    <br>
                    <h4> My Skills</h4>
                    <br>
                    <a href="#" class="resume">Download Resume</a>
                    <br>
                    <div id="skills">
                        <ul>
                            <h6>Experties</h4>
                                <br>
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>Bootstrap</li>
                                <li>JavaScript</li>
                                <li>React</li>
                        </ul>
                        <ul>
                            <br>
                            <br>
                            <li>NodeJs</li>
                            <li>ExpressJs</li>
                            <li>MongoDb</li>
                            <li>SASS</li>
                            <li>FireBase</li>
                        </ul>
                    </div>
                </div>
                <div class="sociallinks">
                    <h3>Find me on Social Media</h3>
                    <br>
                    <a target="_blank" href="https://www.linkedin.com/in/yash-aryan-chauhan">Linkedin:@YashChauhan</a>
                    <br>
                    <a target="_blank" href="https://www.instagram.com/y_a_s_h_0_9">Instagram:@Yash09</a>
                    <br>
                    <a target="_blank" href="mailto:yash848210@gmail.com?subject=Important!">Email:@YashChauhan</a>
                </div>
                <div class="educationtimeline">
                    <h3> Education</h3>
                    <div>
                        <p> <i class="far fa-calendar-alt"></i> 2014-2016</p><br>
                        <h4> Secondary Education</h2>
                            <br>
                            <p> I completed my Secondary Education from S.D.S.V.M school in 2016</p>
                    </div>
                    <div>
                        <p> <i class="far fa-calendar-alt"></i> 2016-2018</p><br>
                        <h4> Higher Secondary Education</h2>
                            <br>
                            <p> I completed my Higher Secondary Education from Vidyapati college in 2018</p>
                    </div>
                    <div>
                        <p> <i class="far fa-calendar-alt"></i> 2018-Present</p><br>
                        <h4> Pesuing My Undergraduate Education</h2>
                            <br>
                            <p> I'm an Undergraduate 2nd year student currently undertaking Bachelors in Computer
                                Science at Milia Institute Of Technology </p>
                    </div>
                </div>
            </div>
        </div>
        </settion>
        <section class="s1">
            <div class="main-container">
                <h3 style="text-align:center;padding-top: 10px; "> Some of my projects</h3>
                <br>
                <div class="projectwrapper">
                    <div  class="project">
                        <img class="thumbnail" src="img/fb.jpg" alt="">
                        <div class="projectpreview">
                            <h6 class="posttitle"> FaceBook-Clone</h6><br>
                            <p class="postintro">I've Made this Fb-Clone using React and FireBase.The look and feel of the website is very much similar to Facebook.It has the functionality of posting your thoughts and images as in the FaceBook.Its pretty much responsive and it comes with google authentication.</p><br>
                            <a target="_blank" href="https://facebook-clone-22bfb.web.app/">See project</a>
                        </div>
                    </div>
                    <div  class="project">
                        <img class="thumbnail" src="img/google.png" alt="">
                        <div class="projectpreview">
                            <h6 class="posttitle">Google-Clone</h6><br>
                            <p class="postintro">This website is made using React and it is fully responsive.Search functionality is working pretty good with the help of google-Api.
                            </p><br>
                            <a target="_blank" href="https://goggle-clone-dbd6d.web.app/">See project</a>
                        </div>
                    </div>
                    <div class="project">
                        <img class="thumbnail" src="img/wapp.png" alt="">
                        <div class="projectpreview">
                            <h6 class="posttitle"> WhatsApp-Clone</h6><br>
                            <p class="postintro"> I've made this clone using React for FrontEnd and FireBase for BackEnd and DataBase.It consist of all the functionality including chatting and creating seperate rooms for people and it also comes with google authentication provided by FireBase.The UI of the app is similar to Whatsapp and its pretty much responsive. 
                            </p><br>
                            <a target="_blank" href="whatsapp-clone-51d78.web.app">See project</a>
                        </div>
                    </div>
                    <div  class="project">
                        <img class="thumbnail" src="img/meetapp.png" alt="">
                        <div class="projectpreview">
                            <h6 class="posttitle"> Meet-App</h6><br>
                            <p class="postintro">This is a real time chat application made by Html , CSS and JavaScript in FrontEnd
                                and NodeJs & ExpressJs in BackEnd.We can easily connect with people and chat with them in realtime with the help of Socket.Io.
                            </p><br>
                            <a target="_blank" href="https://mysterious-sierra-11031.herokuapp.com/">See project</a>
                        </div>
                    </div>
                    <div class="project">
                        <img class="thumbnail" src="img/flappy.png" alt="">
                        <div class="projectpreview">
                            <h6 class="posttitle"> Flappy-Bird</h6><br>
                            <p class="postintro">I created this game with the help of HTML CSS and JavaScript.This is
                                based on the real game logic, if you know those you're ready to play..:)
                            </p><br>
                            <a target="_blank" href="https://youthful-meninsky-c4cfc8.netlify.app/">See project</a>
                        </div>
                    </div>           
                   
                </div>

            </div>
        </section>
    </section>
    <script src="js/app.js"></script>
</body>

</html>